    <hr />
    Copyright &copy; 2018
    <small> <a style="text-decoration:none" href="https://github.com/has9h"> Hasnain Hossain </a></small>
  </div>

  <script src="/bower-components/jquery/dist/jquery.js"></script>
  <script src="/bower-components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/js/script.js"></script>
  </body>
</html>
